.timer {
    display: flex;
    gap: 20px;
}

.timer__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-variant-numeric: tabular-nums;
    font-feature-settings: "tnum";
}