.timer {
    display: flex;
    align-items: center;
    font-variant-numeric: tabular-nums;
    font-feature-settings: "tnum";
    gap: 4px;
}

@media (max-width: 869px) {
    .timer {
        font-size: 12px;
    }
}
