.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--gap);
}

.logo__img {
    filter: var(--icon-invert);
}

.logo__title {
    font-size: 3.2em;
    line-height: 1.1;
    margin: 0;
    color: var(--color);
}

@media (max-width: 869px) {
    .logo__img {
        width: 25px;
        height: 25px;
    }

    .logo__title {
        font-size: 2em;
    }
}