:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --bg-color: #242424;
  --color: rgba(255, 255, 255, 0.87);
  --gap: 16px;
  --padding: 24px;
  --logo-invert: invert(0);
  --min-width: 320px;
  --full-height: 100vh;
  --full-width: 100%;

  --border-radius: 8px;
  --border-size: 2px;
  --border-color: #444;
  --box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  --border-color-hover: #b0b0b0;
  --border-color-focus: #bb86fc;
  --box-shadow-focus: 0 0 0 3px rgba(187, 134, 252, 0.2);
  --figure-color: var(--border-color-focus);
}

body {
  margin: 0;
  min-height: var(--full-height);
  background-color: var(--bg-color);
}

#app {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--gap);
  padding: var(--padding);
  min-height: calc(var(--full-height) - var(--padding) * 2);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--gap);
  width: 100%;
}

.header__logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--gap);
}

.header__logo {
  filter: var(--logo-invert);
}

.header__title {
  font-size: 3.2em;
  line-height: 1.1;
  margin: 0;
  color: var(--color);
}

.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--gap);
  margin: auto 0;
}

.game__canvas-container {
  display: flex;
  position: relative;
}

.canvas-background {
  z-index: 0;
}

.canvas-path {
  position: absolute;
  z-index: 1;
}

.canvas-point {
  position: absolute;
  z-index: 2;
}

.game__preloader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.game__actions {
  display: flex;
  justify-content: center;
  gap: var(--gap);
}

.game__select-container {
  position: relative;
}

.game__select-container,
.game__select,
.game__button {
  width: var(--full-width);
  max-width: 200px;
  font-size: 1em;
}

.game__select {
  width: 80px;
}

.game__select,
.game__button {
  background-color: var(--bg-color);
  color: var(--color);
  border: var(--border-size) solid var(--border-color);
  border-radius: var(--border-radius);
  padding: 12px 16px;
  transition: all 0.3s ease;
  appearance: none;
  cursor: pointer;
  box-shadow: var(--box-shadow);
  white-space: nowrap;
}

.game__select:disabled,
.game__select-container:has(.game__select:disabled)::after,
.game__button:disabled {
  opacity: 0.6;
  user-select: none;
  cursor: not-allowed;
  border-color: var(--border-color) !important;
}

.game__select:hover,
.game__button:hover {
  border-color: var(--border-color-hover);
}

.game__select:focus,
.game__select:focus-visible,
.game__button:focus,
.game__button:focus-visible,
.game__button:active,
.game__button--active {
  outline: none;
  border-color: var(--border-color-focus);
  box-shadow: var(--box-shadow-focus);
}

.game__button:active,
.game__button--active {
  transform: scale(0.95);
}

/* Custom arrow */
.game__select-container::after {
  content: '▼';
  position: absolute;
  right: var(--gap);
  top: 50%;
  transform: translateY(-50%);
  color: var(--figure-color);
  pointer-events: none;
}

.game-button--top {
  grid-area: top;
}

.game-button--left {
  grid-area: left;
}

.game-button--bottom {
  grid-area: bottom;
}

.game-button--right {
  grid-area: right;
}

.game__arrows {
  display: grid;
  gap: 4px;
  grid-template-columns: repeat(3, 55px);
  grid-template-rows: repeat(2, 55px);
  grid-template-areas:
    '. top .'
    'left bottom right';
}

.game__arrows .game__button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}

@media (max-width: 629px) {
  .header {
    flex-direction: column;
    align-items: center;
  }

  .game__select-container,
  .game__select,
  .game__button {
    max-width: var(--full-width);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-color: #ffffff;
    --color: #213547;
    --logo-invert: invert(1);
    --border-color-focus: #6200ea;
    --box-shadow-focus: 0 0 0 3px rgba(98, 0, 234, 0.2);
  }
}
